form{
    border-radius: 10px;
    font-family: "Kelly Slab", sans-serif;
    margin-top: 50px;
    margin-left: 315px;
    margin-right: 315px;
    padding: 30px;
    background-color: white;
}
h1{
    font-family: "Kelly Slab", sans-serif;
}