{% extends "form_base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1>Создать новеллу</h1>
        <p>
            {{ form.name.label }}
            {{ form.name(type="text") }}
            {% for error in form.name.errors%}
                {{error}}
            {% endfor %}
        </p>
        <p>
            <label>Дата создания</label>
            {{ form.creation_date(type="date") }}
            {% for error in form.creation_date.errors %}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{ form.genre.label }}
            {% for gen in genres%}
                <input type="checkbox" name="genre" value={{gen}}>
                <label for={{gen}}>{{gen}}</label>
            {% endfor %}

            {% for error in form.genre.errors %}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{ form.age_limit.label }}
            <select name="age_limit">
                {% for al in age_limits %}
                    <option>{{al}}</option>>
                {% endfor %}
            </select>
            {% for error in form.age_limit.errors%}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{ form.desc.label }}
            {{ form.desc }}
            {% for error in form.desc.errors %}
                {{errors}}
            {% endfor %}
        </p>
        <p>
            {{form.novel_arch.label}}
            {{form.novel_arch(type="file", accept=".zip,.rar,.7z")}}
            {% for error in form.novel_arch.errors%}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{form.novel_avatar.label}}
            {{form.novel_avatar(type="file", accept=".jpg,.png,.jpeg")}}
            {% for error in form.novel_avatar.errors %}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{form.novel_pics.label}}
            {{form.novel_pics(multiple=True, accept="image/*,video/*")}}
            {% for error in form.novel_pics.errors %}
                {{error}}
            {% endfor %}
        </p>
        <p>
            {{form.submit(type="submit", value='Создать')}}
        </p>
        {% if message %}
            {{message}}
        {% endif %}
    </form>
{% endblock %}