{% extends "form_base.html"%}

{% block content %}
<form class="parent" action="" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div>
    <a class="custom-file-label" href="/profile">Возвращение домой</a>
    </div>
    <h1>~Редактирование профиля~</h1>
    <div class="child">
        {{form.username.label}}<br>
        {{form.username(class="text_field", type="text")}}<br>
        {% for error in form.username.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="child">
        <label>Дата рождения</label><br>
        {{form.birth_date(class="text_field", type="date")}}<br>
        {% for error in form.birth_date.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="child">
        {{form.email.label}}<br>
        {{form.email(class="text_field", type="email")}}<br>
        {% for error in form.email.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="child">
        {{form.password.label}}<br>
        {{form.password(class="text_field", type="password")}}<br>
        {% for error in form.password.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="child">
        {{form.avatar.label(class="custom-file-label")}}<br>
        {{form.avatar(class="hidden-file", type="file", accept=".png,.jpg,.jpeg")}}<br>
        {% for error in form.avatar.errors %}
        <div>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <div class="child" style="text-align:right;">
        {{form.submit(class="button", type="submit")}}
    </div>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
</form>
{% endblock %}