{% extends "form_base.html" %}

{% block content %}
    <form class="parent" action="" method="post" enctype="multipart/form-data">
        <div>
            <a style="text-align:center;" class="custom-file-label" href="/novel_profile/{{novel_id}}">Возвращение к новелле</a>
        </div>
        {{form.hidden_tag()}}
        <h1>~Редактирование новеллы~</h1>
        <div class="child">
        {{form.name.label}}<br>
        {{form.name(class="text_field", type="text")}}
        {% for error in form.name.errors%}
            {{error}}
        {% endfor %}
        </div>
        <div class="child">
        <label>Создатель: {{nusername}}</label>
        </div>
        <div class="child">
        {{form.genre.label}}
        {% for gen in form.genre %}
            <div style="font-size:20px;"> {{gen(class="checkbox")}} {{gen.label.text}}</div>
        {% endfor %}
        </div>
        <div class="child">
        {{form.age_limit.label}}<br>
        {{form.age_limit()}}
        </div>
        <div class="child">
        {{form.desc.label}}<br>
        {{form.desc(class="text_area")}}
        </div>
        <div class="child">
        {{form.novel_arch.label(class="custom-file-label")}}
        {{form.novel_arch(class="hidden-file", type="file", accept=".zip,.rar,.7z")}}
        {% for error in form.novel_arch.errors %}
        {{error}}
        {% endfor %}
        </div>
        <div class="child">
        {{form.novel_ava.label(class="custom-file-label")}}
        {{form.novel_ava(class="hidden-file", type="file", accept=".jpg,.png,.jpeg")}}
        {% for error in form.novel_ava.errors %}
        {{error}}
        {% endfor %}
        </div>
        <div class="child">
        {{form.novel_pics.label(class="custom-file-label")}}
        {{form.novel_pics(class="hidden-file", multiple=True, accept="image/*,video/*")}}
        {% for error in form.novel_pics.errors %}
        {{error}}
        {% endfor %}
        </div>
        <div class="child">
        {{form.del_old_scr(class="checkbox")}} {{form.del_old_scr.label(style="font-size:20px")}}
        </div>
        <div class="child" style="text-align:right;">
        {{form.submit(class="button", type="submit")}}
        </div>
        {% if message%}
            {{message}}
        {% endif %}
    </form>
{% endblock %}