{% extends "form_base.html" %}
{% block content %}
<form class="parent" action="" method="post" style="text-align: center;">
    <div style="text-align: left;">
        <a style="text-align:center;" class="custom-file-label" href="/main_page">Возвращение в мир<br> приключений</a>
    </div>
    <h1>~Авторизация~</h1>
    {{form.hidden_tag()}}
    <div class="child">
        {{form.email.label}}<br>
        {{form.email(class="text_field", type="email", placeholder="yesmaster@yandex.ru")}}
        {% for error in form.email.errors%}
            <div>
                {{error}}
            </div>
        {% endfor %}
    </div>
    <div class="child">
        {{form.password.label}}<br>
        {{form.password(class="text_field", type="password", placeholder="1234? Надеемся, что нет)")}}
        {% for error in form.password.errors%}
            <div>
                {{error}}
            </div>
        {% endfor %}
    </div>
    <div class="child">{{form.remember_me(class="checkbox")}} {{form.remember_me.label}}</div>
    <div class="child">{{form.submit(type="submit", class="button")}}</div>
    <p>Ещё нет аккаунта? <a style="color: #A2DB9E;" href="/register">Будем рады вашему аккаунту!</a></p>
    {% if message %}
        <div>{{message}}</div>
    {% endif %}
</form>
{% endblock %}